*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    /* background: rgb(156, 207, 243);
    background: rgb(254, 247, 247); */
    overflow: hidden;


}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}


.navigation ul li{
    position: relative
    ;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background-color: #a39c9c;

}
.navigation ul li:nth-child(1){
    margin-bottom: 10px;
}
.navigation ul li:nth-child(1):hover{
    background: transparent;
    

}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    display: flex;
    color: #000;
}
.navigation ul li span.icon{
    position: relative;

    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;

}
.navigation ul li span.icon.bi{

color: red;
font-size: 24px;
}
.navigation ul li span.title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}
.main-dashboard{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: .5s;
    border: 1px solid red;
    padding: 10px;
    /* margin: 10px; */


}
.user>img{
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; */
    width: 50px;
    border-radius: 5rem;
    overflow: hidden;
}
.navigation-3{
    width: calc(98% - 300px);
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 2rem;
    /* margin-top: 1rem; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    margin: 0 auto;
}
.toggle{
    position: relative;
    width: 40px;
    height: 20px;

    cursor: pointer;
}
.toggle::before{
    content: '\F479';
    position: absolute;
    width: 100%;
    height: 100%;
     line-height: 20px;
    font-size: 24px;
    text-align: center;


}
.user{
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: relative;
    min-width: 50px;
    top: 4px;



}
.user small{
    padding: .5rem;
}
.search label .bi{
    position: absolute;
    padding: 1.5px;
    margin: 1px;
    left:15rem;
    color: #fff;
    /* width: 14%; */
    border-radius: 25%;
    background-color: #02972f;
    font-size: 2.2rem;
    

}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;

}
.search label input{
    width: 70%;
    height: 40px;
    border-radius: .5rem;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgba(0, 0,0,.2);
    padding-left: 35;

}
.mainSection-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.2rem;
    padding: 10px;
}
.mainSection-1 h2{
    color: #978e8e;
}
.mainSection-1 .bi{
    padding: 1px;
    font-size: large;

}
.mainSection-1 button{
    display: flex;
    align-items: center;
    padding: 1px;
    color: #fff;
    background-color: #02972f;
    font-size: 1.1rem;
    border-radius: .6rem;




}
.cards{
    margin-top: 2rem ;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid red;
    right: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.card{
    display: inline-grid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: .6rem;
    max-width: 300px;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: orange;

}


  
.card-contents {
    display: flex;
    align-items: center;
  }
.card-contents span{
    position: relative
    ;
    border-radius: 100%;
    padding: .5rem;
    background-color: #02972f;
    color: #fff;
    width: 2rem;
    height: 2rem;
}
  

  .card-contents-text {
    margin-left: 0.5rem;
    color: #4d5b71;
    font-size: 1.2rem;
  }
  
  .percent {

    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: #02972f;
    font-weight: 600;
    display: flex;
  }
 
  
  .amount{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .amount p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 2.2rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
  }
  
  .amount  .range {
    position: relative;
    background-color: #E5E7EB;
    width: 100%;
    height: 0.5rem;
    
    border-radius: 0.25rem;
  }
  
  .amount .range .margin {

    position: absolute;
    top: 0;
    left: 0;
    background-color: #02972f;
    /* background-color: #10B981; */
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;

  }
